<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
        
    <context:annotation-config /><!-- pour traiter les annotations -->
    
    <!-- pour décrire les classes à instancier -->
    <context:component-scan base-package="fr.amu.directorymanage" />
    
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/directorymanageDBTest" />
		<property name="username" value="mjid" />
		<property name="password" value="hmac2017." />
	</bean>
	<bean id="dbUnitDataTypeFactory" class="org.dbunit.ext.mysql.MySqlDataTypeFactory"/>
	<bean id="dbUnitMetadataHandler" class="org.dbunit.ext.mysql.MySqlMetadataHandler"/>
	<bean id="dbUnitDatabaseConfig" class="com.github.springtestdbunit.bean.DatabaseConfigBean">
    	<property name="skipOracleRecyclebinTables" value="true"/>
    	<property name="datatypeFactory" ref="dbUnitDataTypeFactory"/>
    	<property name="metadataHandler" ref="dbUnitMetadataHandler"/>
    	<property name="caseSensitiveTableNames" value="true"/>
	</bean>
    <bean id="dbUnitDatabaseConnection" class="com.github.springtestdbunit.bean.DatabaseDataSourceConnectionFactoryBean">
    	<constructor-arg ref="dataSource" />
    	<property name="databaseConfig" ref="dbUnitDatabaseConfig"/>
    	<property name="schema" value="directorymanageDBTest"/>
    	
	</bean>
</beans>